ACTION=="add", SUBSYSTEM=="block", RUN+="/bin/sh -c '/usr/local/bin/mount.sh'"
ACTION=="remove", SUBSYSTEM=="block", RUN+="/bin/sh -c '/usr/local/bin/unmount.sh'"
